[includeIf "gitdir:~/code/private/"]
  path = .gitconfig-private

[includeIf "gitdir:~/code/project1/"]
  path = .gitconfig-project1

[includeIf "gitdir:~/code/project2/"]
  path = .gitconfig-project2
[core]
        editor = vim
